body{
    font-size:22px;
    padding-top:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#494949;
    text-align: center;
}
.container{
    margin: auto;
    padding: 10px;
    width: 700px;
}
.login{
    border:2px dashed black;
}
label{
    font-weight: normal;
}
.inputtext{
    margin:15px 10px;
}
.loginbtn{
    width:150px;
    float:right;
    margin-right:10px;
    background-color:#212121;
    color:#E5E5E5;
    font-size:20px;
}
.division{
    margin-bottom:30px;
}


.title{
    font-size:36px;
    margin-bottom: 15px;
    text-align: center;
}
.blue{
    background-color:#B3DEE8;
}
.green{
   background-color:#B3E8D1;
}

h1{  
    font-size:22px;
}
table{
    border:1px solid black;
}
tr{
    border-bottom: 2px solid #D1D1D1;
   
}
tr:last-child{
    border:none;
}
.playfield {
    width:300px;
    margin-left:28%;
}
.playfield td{
    height:80px;
}
td{
    border-right: 2px solid #D1D1D1;
    padding:10px;
    width:100px;
}
td:last-child{
    border:none;
}
.scoreboard-table{
    font-size:20px;
}
.scoreboard-table tr:first-child{
    background-color:#212121 ;
    color:#E5E5E5;
}
.thead{
    background-color:white;
}
.boardPiece{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.boardPiece:hover{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    background-color: beige;
}
#resetBtn{
    background-color: #CBA7F2;
    color:black;
    border:3px solid black;
}
#resetBtn:hover{
    color:white;
    background-color:black;
    border:3px solid #CBA7F2;
}
@media only screen and (max-width: 600px) {
    .container{
        width :500px;
    } 
    table .division{
        margin-bottom:30px;
        margin-left:10%;
    }
}
@media only screen and (max-width: 300px) {
    .container{
        width :300px;
    } 
    table .playfield{
        margin-top:20px;
        margin-left:10%;
    }
}